In [1]:
2 * 3 #multiplication

[1] 6

In [2]:
4 - 1 # subtraction

[1] 3

In [3]:
a <- 1 # Assigning 1 to variable called "a"
a + 2 # Adding 2

[1] 3

In [4]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
                Job_role = c("Manager", "Team Leader", "Developer" )
                )

print(df)

  Emp_Name    Job_role
1      Jai     Manager
2    David Team Leader
3  Michael   Developer